<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

        <!-- Add your head content here -->
    </head>
    <body style="margin: 0; height: 100vh; width: 100vw;">
        <img src="/static/computer.png" alt="image" style="margin: 0; height: 100vh; width: 100vw; object-fit: cover; ;">
        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
            <h1 style="font-size: xx-large; color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">Tweet your suggestion</h1>
            <button class="btn btn-dark text-decoration-none">
                <a href="{% url 'tweet_list' %}" style="color: rgb(9, 51, 109);text-decoration: none">CLICK HERE</a>
            </button>
        </div>
    </body>
    
</body>
</html>